 

 .btn-roundet{
     @include media-breakpoint-down(sm){
         display: none;
     }
     position: relative;
     padding: 0.94rem 3.7rem 0.94rem 1.22rem;
     font-weight: 500;
     font-size: 1rem;
     margin: 0;
     border: 0.15rem solid rgba($white, 0.6);
     background-color: $white;
     color: $primary;

     span{
         position: absolute;
         background-color: $primary;
         width: 2.5rem;
         height: 2.5rem;
         top: 50%;
         right: 5px;
         transform: translateY(-50%);
         border-radius: 50%;

         i{
             color: $white;
             font-size: 1rem;
             line-height: 2.5rem;
         }
     }
     &:hover{
         @include gradient1;
         color: $white;

         span{
             background-color: rgba($black, 0.6);
         }
     }
 }