
@mixin gradient1{
    background: linear-gradient(to right, rgba($primary,0.9), rgba($secondary,0.9));
}

@mixin absoluteCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-94%,80%);
}